<header>
    
    <p>
        BENENDS
    </p>

    <ul>
        <% if(locals.user){ %>
            <li> <a href="/user/profile?userid=<%=user.id%>"><%= user.name %></a> </li>
            <li>  
                <a href="/user/signout">Sign out</a>
            </li>
        <%} else { %>
            <li>  
                <a href="/user/signin">Sign in</a>
            </li>
            <li>  
                <a href="/user/signup">Sign up</a>
            </li>
        <% } %>
    </ul>
</header>