<form action="/user/change" method="POST">

    <input type="password" required name="password" placeholder="New password" >
    <input type="password" required name="password"  placeholder="Confirm password" >

</form>