<link rel="stylesheet" href="/css/home.css">
    
<div id="home-container">
    
    <section id="feed-container" >
        

        <% if(locals.user){ %>
            <h1>Posts</h1>
            <form id="home-post-form" action="/post/create" method="post">
                <textarea id="post-input" name="content"  cols="30" rows="3" placeholder="Type here"></textarea>
                <input type="submit" value="Post" >
            </form>

            <h1>Recent Posts</h1>

            <div id="Post-container">
                <ul>
                    <% for(let p of posts){ %>
                        <%- include('_post',{p:p})   %>

                    <%}%>
                </ul>
            </div>
        

        <% } %>

    </section>

    <section id="users-friend" >   

            <h4>Friends</h4>

            <% for(u of user_friend){ %>
                
                <p>
                    <a href="/user/profile?userid=<%=u.id%>"><%= u.name %></a>
                </p>
            <%}%>

    </section>
</div>
<script src="/js/post.js"></script>
<script src="/js/home.js" ></script>