<link rel="stylesheet" href="/css/home.css">
    
    

    <h1>
        Home page/ 
        <% if(locals.user){ %>
            <%= locals.user.name %>
            <% } %>
    </h1>

    <!-- <% if(locals.user){ %>
        <p>
         <%= user.name %>

        </p>         
         <a href="/user/sign_out">Sign out</a>


    <% }else {%>
    <a href="/user/sign_up">
        Sign up
    </a>

    <a href="/user/sign_in">
        Sign in
    </a>

    <% } %> -->
