 <h1>Hello this is your home page</h1>
    

<section id="feed-post" >
    

    <% if(locals.user){ %>
        <h1>Posts</h1>
        <form id="newpost" action="/post/create" method="post">
            <textarea name="content"  cols="30" rows="3" placeholder="Type here"></textarea>
            <input type="submit" value="Post" >
        </form>

        <h1>Recent Posts</h1>

        <div id="Post-container">
            <%- include('_post')   %>
        </div>
      

    <% } %>

</section>

<section id="users-friend" >   

        <h4>Friends</h4>

        <% for(u of user_friend){ %>
            
            <p>
                <a href="/user/profile?userid=<%=u.id%>"><%= u.name %></a>
            </p>
        <%}%>

</section>