<link rel="stylesheet" href="/css/home.css">
    
    

    <h1>
        Home page/ 
        <% if(locals.user){ %>
            <%= locals.user.name %>
            <% } %>
    </h1>

    <% if(locals.user){ %>
        <section id="post-section">
            <form action="/post/create" method="POST">
                <textarea name="content" cols="30" rows="5" placeholder="Add Post..."></textarea>
                <button type="submit">Publish</button>
            </form>
        </section>

        <div id="post-container">
            <% for(let c of post) { %>
                <div>
                    <p>
                        <%= c.content %>
                        <p>
                        <%= c.user.name %>

                        </p>
                    </p>
                </div>
            <% } %>
        </div>

        <% } %>
        
