<h1>
    Sign up
</h1>

<form action="/user/create" method="post">
    <input type="text" name="name" placeholder="Your name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your password" required>

    <button type="submit">Sign Up </button>

</form>


<h3>
    Already have a account ? Login
    <a href="/user/sign_in">Sign in</a> 
</h3>
