#home-container
{
    display: flex;
    justify-content: space-between;
    height:auto;
    padding: 10px;
    // border: 1px solid black;
    #feed-conatiner
    {
        width: 100%;
        padding: 10px;
        
        // border: 1px solid red;

    }
    #users-friend
    {
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgrey;
        height: auto;
        // border: 1px solid black;

    }
    #Loggedin-pic
    {
        width: auto;
        border-right: 1px solid lightgrey;
        // border: 1px solid black;
        // overflow: hidden;
        padding: 10px;
    }

}