#signin-form
{

    display: inline-block;
    margin-right: 10px;
    #login-button
    {
        background-color: rgb(52, 52, 100);
        color: white;
        border: none;
        padding: 3px;
        font-family: sans-serif;
        width: 50px;
        cursor: pointer;
    }

    #login-button:hover
    {
        background-color: rgb(24, 24, 95);
    }
}