#post-container {
  width: 100vw;
  border: 1px solid black;
  height: 500px;
}

#post-container div {
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: gray;
  margin: 10px;
}

#post-container div p {
  color: white;
  font-size: 1.2rem;
  font-family: sans-serif;
}
