#login-button {
  background-color: #343464;
  color: white;
  border: none;
  padding: 3px;
  font-family: sans-serif;
  width: 50px;
  cursor: pointer; }

#login-button:hover {
  background-color: #18185f; }
