<h1>Regarding to change the password</h1>

<p>
    Click the link below to change your password
</p>

<a href="http://localhost:8000/user/changePass?accessToken=<%=reset.accessToken%>">Click here</a>

 <!-- <a href="https://asda">X</a> -->